[data-theme="light"] {
  --fg: #1e222a;
  --bg: #fff;
  --border: #f8f8f8;
  --prismBg: #2e3440;
  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --navbar_shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --navbar_shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  --github: url("/icons/github.svg");
  --telegram: url("/icons/telegram.svg");
  --discord: url("/icons/discord.svg");
  --matrix: url("/icons/matrix.svg");

  --featuresH3: #1e222a;
  --ifm-color-primary: #8ebbea;
  --banner_gradient: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

[data-theme="dark"] {
  --fg: white;
  --bg: #191d25;
  --border: #282c34;
  --prismBg: #1e252c;
  --shadow: none;
  --navbar_shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  --github: url("/icons/github-inverted.svg");
  --telegram: url("/icons/telegram-inverted.svg");
  --discord: url("/icons/discord-inverted.svg");
  --matrix: url("/icons/matrix-inverted.svg");

  --ifm-color-primary: #bc688e;
  --featuresH3: #bc688e;
  --banner_gradient: radial-gradient(
    circle 732px at -23.9% -25.1%,
    rgba(30, 39, 107, 1) 6.1%,
    rgba(188, 104, 142, 1) 100.2%
  );
}
